*

!.config/
!.config/fontconfig/
!.config/fontconfig/*
!.config/foot/
!.config/foot/*
!.config/nvim/
!.config/nvim/*
!.config/nvim/lua/
!.config/nvim/lua/*
.config/nvim/lazy-lock.json
!.config/nvim/lua/plugins/
!.config/nvim/lua/plugins/*
!.config/swaylock/
!.config/swaylock/*
!.config/zsh/
!.config/zsh/*
.config/zsh/.zcompdump
.config/zsh/.zsh_history
!.config/user-dirs.dirs
!.config/user-dirs.locale

!.gitignore
!.zprofile
